body {
    font-family: Arial, Helvetica, sans-serif;
    right: 0;
    left: 0;
    top: 0;
}

.menu-lista {
    display: flex;
    list-style: none;
    text-decoration: none;
    justify-content: center;
    padding-top: 30px;
}

.menu-item {
    padding: 1em;
    text-decoration: none;
    font-size: 20px;
    color: #6D83F2;
}

.redes {
    padding-left: 1650px;
    position: absolute;
    padding-right: 30px;
    margin-top: -55px;
}

.icones-redes {
    padding: 1em;
}

.logo {
    position: absolute;
    margin-left: 30px;
    margin-top: 30px;
}

.section-principal {
    position: absolute;
    margin-left: 800px;
    margin-top: 50px;
}

.teste {
    position: absolute;
    top: 0;
    padding-left: 1150px;
}

.tenis {
    position: absolute;
    margin-left: 640px;
    margin-top: -40px;
}

.texto-tenis {
    color: #7B0AEC;
    font-size: 40px;
    position: absolute;
    margin-left: 1300px;
    margin-top: 760px;
}

.texto-principal {
    font-size: 80px;
    font-weight: bold;
    color: #6D83F2;
    margin-left: 100px;
    margin-top: 200px;
}

span {
    color: #F26D6D;
}

.cores {
    margin-left: 100px;
    margin-top: 150px;
}

.icones {
    display: none;
}

@media screen and  (max-device-width: 700px) {

    body {
        background-color: #ffeb3b;
    }

    .section-um {
        padding-top: 100px;
    }

    .icones {
        display: flex;
        justify-content: end;
        border: none;

    }

    .botao {
        border: none;
        background: none;
    }

    .logo {
        margin-top: -10px;
        position: absolute;
        padding-top: 20px;
        margin-left: 20px;
    }

    .logo-nike {
        width: 70px;
    }

    .menu-item {
        display: inline-block;
        text-align: center;
        align-items: center;
    }

    .menu-lista {
        padding-top: 0;
        display: none;
        text-align: center;
        height: 100vh;
    }

    .teste {
        display: none;
    }
    
    .section-principal {
        display: none;
    }

    .tenis {
        position: absolute;
        margin-left: 0;
        margin-top: 0;
        width: 300px;
        background-color: #ffc107c7;
        border-radius: 100%;
    }

    .tenis-principal {
        display: flex;
        justify-content: center;
    }

    .redes {
        display: none;
        padding-left: 320px;
        padding-right: 0;
        margin-top: 30px;
        width: 10px;
    }

    .icones-redes {
        width: 20px;
    }


    .texto-tenis {
        color: #7B0AEC;
        font-size: 16px;
        position: absolute;
        margin-left: 210px;
        margin-top: 200px;
    }

    .texto-principal {
        font-size: 20px;
        font-weight: bold;
        color: #6D83F2;
        margin-left: 30px;
        margin-top: 70px;
        position: absolute;
    }

    .cores {
        margin-left: 30px;
        margin-top: 150px;
        width: 100px;
        position: absolute;
    }
}